.card-container {
    margin: 30px 10px;
    border-radius: 10px;
    // display: flex;
    // flex-direction: column;
    // position: relative;
    display: grid;
    grid-template-areas: "card-title color-icon delete-icon"
                         "card-content card-content card-content";
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    height: 100%;
    position: relative;


}

.color-icon {
    grid-area: color-icon;
}

.delete-icon {
    grid-area: delete-icon;
}

.color-picker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.card-title {
    grid-area: card-title;
    font-size: 12px;
    font-weight: lighter;
    margin: 10px 0 0 15px;
    align-self: center;
}

.card-content {
    grid-area: card-content;
    font-weight: lighter;
    font-size: 12px;
    border: none;
    outline: none;
    background: transparent;
    margin: 5px 10px 10px 10px;
    z-index: 1;
    background-color: transparent;
}

.card-icons {
    height: 13px;
    margin-top: 10px;
    align-self: center;
    justify-self: center;
}
