.titlecard-container {
    position: relative;
    flex: 4;
    height: 175px;
    border: blue 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.title-field {
    width: 70%;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;

    &:hover {
       outline: none; 
    }
}

.name-field {
    width: 50%;
    text-align: center;
    font-size: 15px;

    &:hover {
       outline: none; 
    }
}

.new-entry-button {
    position: absolute;
    background-color: #06D6A0;
    border: none;
    padding: 10px 32px;
    border-radius: 30px 30px 30px 30px;
    font-size: 14px;
    margin: 10px;
    bottom: 0;
    right: 0;
}