.titlecard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.title-field {
    padding: 0 !important;
    font-size: 32px;
    margin-top: 50px;
    margin-left: 5px;
    border:  none;

    &:hover {
      outline: no ne; 
    }

    &:focus {
      outline: none;
    }
}

.name-field {
  display: block;
  font-size: 15px;
  border: none;
  &:hover {
    outline: none; 
  }
  &:focus {
    outline: none;
  }
}

.calendar-icon {
  width: 22px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 150px;
  padding-bottom: 15px;
}

.new-entry-button {
  background-color: #418BF9;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 32px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 40px;
  width: 85%;
}

.titlecard-bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.word-wrap {
  word-wrap: break-word;
  margin-left: 25px;
}

.titlecard-name {
  margin-top: 25px;
}

.search-icon {
width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.search {
  color: #646464;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.search-field {
  display: block;
  font-size: 14px;
  border: none;

  &:hover {
    outline: none; 
  }

  &:focus {
    outline: none;
  }
}