.new-entry {  
  flex: 7;
  display: flex;
  flex-direction: row;
}

.save-button {
  display: flex;
  align-items: center;
  position: absolute;
  border: none;
  border-radius: 15px;
  background-color: #FFC43D;
  top: 0;
  right: 0;
  width: 90px;
  height: 30px;
  margin: 40px 45px 0 0;
}

.save-img {
  height: 14px;
  padding: 0 10px;

}

.save-text {
  font-size: 13.5px;
  margin: 0;
}

.devotional-area {
  flex: 5;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 20px 0 0 40px;
}

.right-card-area {
  flex: 2;
}

.title {
  font-size: 24px;
  margin-bottom: 5px;

  &:hover {
    outline: none;
  }
}

.reflected-passages {
  font-size: 14px;
  margin-bottom: 7px;

  &:hover {
    outline: none;
  }
}

.content {
  margin-top: 10px;
  font-size: 12px;

  &:hover {
    outline: none;
  }
}

.title {
  border: none;
  font-size: 20px;
  text-decoration: underline;
  padding: 30px 10px 5px 15px;
  color: #454545;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.reflected-passages {
  border: none;
  font-size: 14px;
  padding: 5px 10px 10px 15px;

  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.content {
  border: none;
  font-size: 12px;
  padding: 30px 10px 10px 15px;
  height: 100%;

  &:hover {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

