.previous-container {
    width: 30%;
    max-width: 460px;
    height: 100px;
    border: blue 1px solid;
}

.month {
    font-size: 16px;
}

.day {
    font-size: 35px;
}

.day {
    font-size: 35px;
}
