.previous-container {
  // max-width: 420px;
  min-height: 100px;
  max-height: 80px;
  border-bottom: #E5E5E5 0.5px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;

  &:active {
    border-left: RGB(65,139,249) 4px solid;
    cursor: pointer;
    .entry-title {
      font-weight: 550;
      color: RGB(65,139,249);
    }
  }

  &:hover {
    background-color: rgba(65,139,249, 0.1);
    cursor: pointer;
  }
}

.middle-section, .tags-section {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.month, .weekday, .entry-content-preview {
  margin-right: 3px;
}

.numday {
  margin-right: 8px;
}

.entry-content-preview {
  color: #949494;
}

.entry-title {
  font-size: 16px;
  padding-bottom: 5px;
}